*{
    margin:0;
    padding:0;
    position: relative;
    font-family: "Manrope", sans-serif;
}
body{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #fda085;
}

.add-btn {
    padding: 12px 20px;
    background-color: #fda085;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #e68a6f;
}